{% extends "basic_app/base.html" %}
{% block body_block %}

<div class='container'>
        <div class = "jumbotron">
            <h1>REGISTER PAGE</h1>

            {% if registered %}
            <h1>Thanks for registering</h1>
            {% else %}

            <form enctype="multipart-form-data" method='POST'>
                {% csrf_token %}
                {{ user_form.as_p }}
                {{ profile_form.as_p }}
                <input type='submit' value='SUBMIT' name=''>
            </form>
            {% endif %}

    </div>
</div>
{% endblock %}
